@use "../abstracts/variables" as varbs;

.progress {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.upper-split .count {
  width: auto;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: varbs.$dark-hight-light;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;

  h3 {
    color: varbs.$highlight-color;
    padding: 0%;
    margin: 0%;
  }
}

.dots {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: #72717c;

  &.dot-fill {
    background-color: varbs.$highlight-color;
  }
}

.back-btn,
.next-btn {
  width: 60px;
  height: 20px;
  border-style: none;
  padding: 3px;
  color: #b1b6d4;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  /* z-index: 20; */
}

.disable {
  color: #3a3a3b;
  cursor: none;
  pointer-events: none;
}
