.map-container {
  width: 100%;
  height: 60%;
  /* z-index: 28; */
}

.distance {
  background-color: rgb(192, 192, 192);
  /* z-index: 25; */
}

.distance-panel .upper-split {
  height: 85%;
  form {
    width: 80%;
    height: 90px;
    justify-content: flex-start;
    position: relative;
    overflow-y: scroll;
  }
  .add-stop {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    position: absolute;
    right: 7px;
    top: 24%;
    transform: translateY(-50%) rotate(90deg);
  }
  button {
    margin-block: 4px;
  }
  .distance-btn {
    color: white;
  }
}

.distance-panel .material-symbols-outlined.star-location-icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
